@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/**Estilos globales **/

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

h1,h2,h3,h4{font-family: 'PT Sans', sans-serif;}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size:2.6rem;
}

img{
    max-width: 100%;
}

/** Utilidades **/

.centrar-texto{
    text-align: center;
}

.no-margin{
    margin: 0;
}

.centrar-imagen{
    margin:0 auto;
    display: block;
}

/** Header **/
@media(min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(min-width:){
    
}
.site-header{
    background-image: url(../img/banner5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

.site-header a{
    color: #fff;
    text-decoration: none;
}

/**Navegacion**/

.navegacion a{
    text-align: center;
    display: block;
    font-size: 1.8rem;
}

@media(min-width:768px){
    .navegacion a{
        display: inline;
        margin-right: 2rem;
    }

    .navegacion a:last-of-type{
        margin: 0;
    }
}

/**Navegacion secundarias**/

.nav{
    background-color: #f56d50;
}

.navegacion-sec a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion-sec a:last-of-type{
    margin-right: 0;
}

/**Texto Header**/

.text-header{
    color: #fff;
    text-align: center;
    margin-top: 5rem;
}

@media(min-width:768px){
    .text-header{
        margin-top: 20rem;
    }
}

.text-header p{
    font-size: 2.2rem;
}

/**Productos**/

.entrada-blog a {
    display: inline-block;
    background-color: #f56d50;
    width: 100%;
    text-align: center;
    border-radius: 5rem;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.columnas{
    padding-bottom: 4rem;
}

@media(min-width:768px){
    .columnas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

/**Imagen**/

.contenedor-imagen img{
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}

.contenedor-imagen:hover img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.contenedor-imagen{
overflow:hidden;
}


/**Mapa**/

#mapid
{ width: 100%;
    height: 50rem;
    margin-bottom: 10rem;
}


/**Whatsapp**/
#whatsapp a {
    position: fixed;
    top: 90%;
    left: 1%;
    z-index: 2;
}


/**Footer**/



.site-footer{
    background-color: #f56d50;
    color: white;
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.site-footer a{
    text-decoration: none;
    color: white;
}

.site-footer a:hover{
    color: rgb(207, 192, 192)
}

/**CSS Tabs Productos**/


 .tab {
    overflow: hidden;
    background-color: #e05839;
  }
  

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
  }
  

  .tab button:hover {
    background-color: #e27c65;
  }

  .tab button.active {
    background-color: #ccc;
  }
  

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } 


  /**Formulario de contacto**/

  .contacto p {
    font-size: 1.8rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend {
    font-size: 2.5rem;
    columns: #333333;
}

label {
    display: block;
    font-weight: 700;
    text-transform: capitalize;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton{
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #f56d50;
    border-radius: 5rem;
    width: 100%;
    padding: 1rem;
    color: white;
}

.boton:hover{
    background-color: #ee8871;
}

/**Mensaje**/

.mensaje a{
    text-decoration: none;
    background-color: #f56d50;
    padding:2rem 7rem 2rem 7rem;
    border-radius: 5rem;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.mensaje a:hover{
    background-color: #e05839;
}